<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Страница клиента</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <h2>Данные клиента</h2>
    <table class="table table-bordered table-warning">
        <tbody>
        <tr>
            <th scope="row">ID</th>
            <td th:text="${client.getId()}"> </td>
        </tr>
        <tr>
            <th scope="row">ФИО</th>
            <td th:text="${client.getName()}"> </td>
        </tr>
        <tr>
            <th scope="row">Город</th>
            <td th:text="${clientDAO.getClientCityAndStreet(client.getId())[0].getFirst().getCityName()}"> </td>
        </tr>
        <tr>
            <th scope="row">Улица</th>
            <td th:text="${clientDAO.getClientCityAndStreet(client.getId())[0].getSecond()}"> </td>
        </tr>
        </tbody>
    </table>
    <div class="d-inline-flex">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Изменить</button>
        <form method="post" action="/deleteClient" class="mr-2">
            <input type="hidden" name="clientId" th:value="${client.getId()}"/>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Изменение данных о клиенте</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/editClient">
                        <input type="hidden" name="id" th:value="${client.getId()}"/>
                        <div class="form-group">
                            <label for="name">ФИО</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   th:value="${client.getName()}" required>
                        </div>
                        <div class="form-group">
                            <label for="city">Город</label>
                            <select id="city" name="city" size="1" th:value="${clientDAO.getClientCityAndStreet(client.getId())[0].getFirst().getCityName()}" required>
                                <option value="ДС1">ДС1</option>
                                <option value="ДС2">ДС2</option>
                                <option value="ДС3">ДС3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="street">Улица</label>
                            <input type="text" class="form-control" id="street" name="street"
                                   th:value="${clientDAO.getClientCityAndStreet(client.getId())[0].getSecond()}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Эл.почта</label>
                            <input type="text" class="form-control" id="email" name="email"
                                   th:value="${client.getEmail()}" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Тел.</label>
                            <input type="text" class="form-control" id="phone" name="phone"
                                   th:value="${client.getPhone()}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                      </form>
                </div>
            </div>
        </div>
    </div>

    <h3>История заказов</h3>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Цена</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата доставки</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orderHistoryList == null || orderHistoryList.isEmpty()}">
            <td colspan="5">История заказов не найдена.</td>
        </tr>
        <tr th:each="order : ${orderHistoryList}">
            <td>
                <span th:text="${order.getId()}"> </span>
            </td>
            <td>
                <span th:text="${order.getOrder().getPrice()}"> </span>
            </td>
            <td>
                <span th:text="${#dates.format(order.getOrder().getCreationData(), 'yyyy-MM-dd')}"> </span>
            </td>
            <td>
                <span th:text="${#dates.format(order.getOrder().getDeliveryData(), 'yyyy-MM-dd')}"> </span>
            </td>
            <td>
                <span th:text="${order.getOrder().getOrderStatus()}"> </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="general :: site-script"></div>

</body>
</html>